[submodule "argos3"]
	path = argos3
	url = https://github.com/ilpincy/argos3.git
[submodule "argos3_docker_example"]
	path = argos3_docker_example
	url = https://github.com/lajoiepy/argos3_docker_example.git
[submodule "argos3-examples"]
	path = argos3-examples
	url = https://github.com/ilpincy/argos3-examples.git
[submodule "firmware"]
	path = firmware
	url = https://gitlab.com/polytechnique-montr-al/inf3995/20211/equipe-100/inf3995-firmware.git
[submodule "backend"]
	path = backend
	url = https://gitlab.com/polytechnique-montr-al/inf3995/20211/equipe-100/backend.git
[submodule "frontend"]
	path = frontend
	url = https://gitlab.com/polytechnique-montr-al/inf3995/20211/equipe-100/frontend.git
